<div class="wrapper wrapper-full-page">
  <div class="page-header pricing-page header-filter" style="background-image: url('./assets/img/elearning.jpeg'); background-size: cover; background-position: top center;">
		<div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <!-- <h1 class="title">Conalep Virtual</h1> -->
          <h5 class="description">Iniciativa diseñada para la capacitación y adquisición de nuevos conocimientos con el objetivo de mejorar el desempeño de estudiantes, docentes, egresados y a usuarios del sector productivo y de gobierno mediante cursos en línea de fácil acceso.</h5>
        </div>
      </div>
			<div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card card-plain">
            <div class="card-body">
              <h3 class="card-title">¿Por qué tomar un curso en línea?</h3>
              <h5 class="description">Tomar un curso en línea te da la oportunidad de seguir aprendiendo en cualquier lugar y a cualquier hora, sin necesidad de trasladarte a un lugar en especifico.</h5>
            </div>
          </div>
        </div>
				<div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="description text-dark">Nuestros cursos están orientados a satisfacer las necesidades actuales en los diferentes sectores laborales.</h5>
							<h5 class="description text-dark">La educación en línea en la actualidad es uno de los servicios mas usados gracias a los avances en dispositivos y tecnologías móviles.</h5>
            </div>
          </div>
        </div>
				<div class="col-lg-3 col-md-6">
          <div class="card card-plain">
            <div class="card-body">
              <h5 class="description">Te permite administrar tu tiempo y poder seguir con otras actividades que contribuyen a tu desarrollo personal</h5>
						</div>
          </div>
        </div>
				<div class="col-lg-3 col-md-6">
          <div class="card ">
            <div class="card-body">
              <h5 class="description text-dark">Nuestros programas de formación continua, facilitan e incentivan a nuestros usuarios a que continúen formándose para poder adquirir una mayor competencia profesional para el desempeño de sus funciones.</h5>
						</div>
          </div>
        </div>
      </div>
    </div>
		<footer class="footer ">
			<div class="container">
				<nav class="pull-left">
					<ul>
						<li>
							<a [routerLink]="['/privacy']">
								Aviso de privacidad
							</a>
						</li>
						<li>
							<a href="https://www.superatemexico.com">
								Supérate México
							</a>
						</li>
						<li>
							<a href="https://www.superatemexico.com">
								Empresas
							</a>
						</li>
					</ul>
				</nav>
				<div class="copyright pull-right">
					&copy;
					{{test | date: 'yyyy'}}, creado por
					<a href="https://aclsystems.mx" target="_blank">ACL Systems</a>
				</div>
			</div>
		</footer>
  </div>
</div>
